alias ls='ls -GAF --color=auto'
alias ll='ls -l'

alias less='less -R'

alias add='git add -uv'
alias stat='git status'
alias comit='git commit'
alias co='git checkout'
alias com='git checkout master'
alias cod='git checkout develop'
alias gs="git show"
alias gdif='git diff'
alias gdifc='git diff --cached'
alias gdifw='git diff --color-words'
alias gdifcw='git diff --color-words --cached'
alias gdifwc='git diff --color-words --cached'
alias pul='git pull'
alias push='git push'
alias glog='git log --oneline --decorate'
alias gmg='git merge'
alias add='git add -A ${1}'
alias story='git checkout -b $1; git push -u origin/$1'
alias shad='ssh-add -t 28800 ~/.ssh/id_ed25519_github'
alias tf="terraform"
alias ave="aws-vault exec"
alias be="bundle exec"
